*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#f5f3ef;
  color:#111;
  font-family:'Inter',sans-serif;
}

/* NAVBAR */

nav{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 8%;
  z-index:100;
}

.logo{
  font-family:'Roboto',sans-serif;
  font-size:28px;
  font-weight:900;
}

/* MENU BUTTON */

.menu-btn{
  background:#111;
  color:white;
  border:none;
  padding:16px 28px;
  border-radius:999px;
  cursor:pointer;
  font-family:'Inter',sans-serif;
  font-size:15px;
  transition:0.3s;
}

.menu-btn:hover{
  transform:scale(1.05);
}

/* DROPDOWN MENU */

.menu{
  position:fixed;
  top:100px;
  right:8%;
  background:rgb(0, 0, 0);
  padding:30px;
  border-radius:25px;
  display:none;
  flex-direction:column;
  gap:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  z-index:9999;
}


/* MENU ACTIVE */

.menu.active{
  display:flex;
}

/* LINKS */

.menu a{
  text-decoration:none;
  color:#111;
  font-size:18px;
  font-weight:500;
  transition:0.3s;
}

.menu a:hover{
  color:#7f7f7f;
}

/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  gap:80px;
  padding-left:8%;
  padding-right:8%;
  overflow:hidden;
}

.hero-text{
  max-width:500px;
   padding-top:180px;
}

.small-text{
  font-size:24px;
  margin-bottom:10px;
}

.hero h1{
  font-family:'Roboto',sans-serif;
  font-size:80px;
  line-height:0.95;
  font-weight:900;
  margin-bottom:30px;
}

.hero-description{
  font-size:20px;
  line-height:1.7;
  color:#7f7f7f;
  margin-bottom:40px;
}

/* BUTTON */

.contact-btn{
  display:inline-flex;
  align-items:center;
  gap:15px;
  background:#111;
  color:white;
  text-decoration:none;
  padding:18px 32px;
  border-radius:999px;
  transition:0.3s;
}

.contact-btn:hover{
  transform:scale(1.05);
}

.arrow{
  width:35px;
  height:35px;
  background:white;
  color:black;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

/* IMAGE */

.hero-image{
  width:450px;
  height:800px;
  overflow:hidden;
  border-radius:0 0 300px 300px;
  background:#ddd;
  flex-shrink:0;
   align-self:flex-start;
}

.hero-image img{
  width:130%;
  height:130%;
  object-fit:cover;
  object-position:center 80%;
}

/* CONTACT */

.contact{
  padding:120px 8%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.contact h2{
  font-family:'Roboto',sans-serif;
  font-size:60px;
  margin-bottom:40px;
}

form{
    width:100%;
  max-width:700px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

input,
textarea{
  font-family:'inter';
  background:#7F7F7F;
  border:1px solid #000000;
  padding:15px;
  border-radius:10px;
  color:white;
  font-size:16px;
}

input::placeholder,
textarea::placeholder{
  color:white;
}

textarea{
  font-family:'inter';
  height:200px;
  resize:none;
}

.send-btn{
  width:200px;
  background:#111;
  color:white;
  border:none;
  padding:18px;
  border-radius:999px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
}

.send-btn:hover{
  transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:1000px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-image{
    width:350px;
    height:450px;
  }

  .hero h1{
    font-size:65px;
  }

  .contact-btn{
    justify-content:center;
  }

}