*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#f5f3ef;
  color:#111;
  font-family:'Inter',sans-serif;
}

/* NAVBAR */

nav{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 8%;
  z-index:100;
}

.logo{
  font-family:'Roboto',sans-serif;
  font-size:28px;
  font-weight:900;
}

nav ul{
  display:flex;
  gap:30px;
  list-style:none;
}

nav a{
  color:rgb(0, 0, 0);
  text-decoration:none;
}


/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  gap:80px;
  padding-left:8%;
  padding-right:8%;
  overflow:hidden;
}

.hero-text{
  max-width:500px;
   padding-top:180px;
}

.small-text{
  font-size:24px;
  margin-bottom:10px;
}

.hero h1{
  font-family:'Roboto',sans-serif;
  font-size:80px;
  line-height:0.95;
  font-weight:900;
  margin-bottom:30px;
}

.hero-description{
  font-size:20px;
  line-height:1.7;
  color:#7f7f7f;
  margin-bottom:40px;
}

/* BUTTON */

.contact-btn{
  display:inline-flex;
  align-items:center;
  gap:15px;
  background:#111;
  color:white;
  text-decoration:none;
  padding:18px 32px;
  border-radius:999px;
  transition:0.3s;
}

.contact-btn:hover{
  transform:scale(1.05);
}

.arrow{
  width:35px;
  height:35px;
  background:white;
  color:black;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

/* IMAGE */

.hero-image{
  width:450px;
  height:800px;
  overflow:hidden;
  border-radius:0 0 300px 300px;
  background:#ddd;
  flex-shrink:0;
   align-self:flex-start;
}

.hero-image img{
  width:130%;
  height:130%;
  object-fit:cover;
  object-position:center top;
  transform:translateY(-100px);
  transform:translateX(-50px);
}

/* RESPONSIVE */

@media(max-width:1000px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-image{
    width:350px;
    height:450px;
  }

  .hero h1{
    font-size:65px;
  }

  .contact-btn{
    justify-content:center;
  }

}